body {
    background-color: #f0f0f0;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

label {
    margin-bottom: 10px;
    color: #333;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    margin-top: 5px;
    margin-left: auto; /* Center align input */
    margin-right: auto; /* Center align input */
    border: 1px solid #ccc;
    border-radius: 5px;
}